.center {
  text-align: center;
}
.btn {
  top: 50%;
  left: 45%;
  width: 150px;
  height: 50px;
  cursor: pointer;
  /* border-radius: 20px; */
  background: rgba(92, 92, 119, 0.425);
  box-shadow: 4px 4px blue;
}
.btn1 {
  top: 50%;
  left: 45%;
  width: 150px;
  height: 50px;
  cursor: pointer;
  /* border-radius: 20px; */
  background: rgba(92, 92, 119, 0.425);
  box-shadow: 4px 4px blue;
}
.load:hover {
  background: linear-gradient(rgba(179, 107, 151, 0.418), white);
}
